.facetHeader {
  border-bottom: 1px solid rgba(162, 170, 176, 0.31);
  .facetHeaderTitle {
    margin: 0;
  }
  &[data-state='open'] {
    .facetsbtns {
      &::after {
        transform: rotate(0deg);
      }
    }
  }
  .facetsbtns {
    font-size: 18px;
    letter-spacing: 0.8px;
    font-weight: 700;
    border: 0;
    padding: 0;
    background-color: transparent;
    color: #323e48;
    cursor: pointer;
    width: 100%;
    padding: 10px 15px 10px 20px;
    text-align: left;
    position: relative;
    font-family: 'Source Sans Pro';
    &::after {
      content: '';
      width: 15px;
      height: 20px;
      background-image: url(../images/updownarrow.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 12px;
      display: inline-block;
      float: right;
      transform: rotate(180deg);
    }
  }
}
.facetsContentOuter {
  .facetsList {
    list-style: none;
    margin: 0;
  }
}

.facetSection {
  &.defaultSearch {
    .facetHeader {
      &.selected_services {
        .facetValues {
          li {
            label {
              color: #313a45;
              letter-spacing: 0.8px;
              font-size: 14px;
              font-weight: 500;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
        .morelessbtn {
          font-weight: 500;
        }
      }
      &.selected_industries {
        .facetValues {
          li {
            label {
              color: #313a45;
              letter-spacing: 0.8px;
              font-size: 14px;
              font-weight: 500;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
        .morelessbtn {
          font-weight: 500;
        }
      }
    }
  }
}
.facetSection {
  &.defaultSearch {
    .facetHeader {
      &.selected_services {
        .facetValues {
          li {
            label {
              color: #313a45;
              letter-spacing: 0.8px;
              font-size: 14px;
              font-weight: 500;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
        .morelessbtn {
          font-weight: 500;
        }
      }
      &.selected_industries {
        .facetValues {
          li {
            label {
              color: #313a45;
              letter-spacing: 0.8px;
              font-size: 14px;
              font-weight: 500;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
        .morelessbtn {
          font-weight: 500;
        }
      }
    }
  }
  &.events {
    .facetHeader {
      &.selected_services {
        .facetValues {
          li {
            label {
              color: #313a45;
              letter-spacing: 0.8px;
              font-size: 14px;
              font-weight: 500;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
        .morelessbtn {
          font-weight: 500;
        }
      }
      &.selected_industries {
        .facetValues {
          li {
            label {
              color: #313a45;
              letter-spacing: 0.8px;
              font-size: 14px;
              font-weight: 500;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
        .morelessbtn {
          font-weight: 500;
        }
      }
    }
  }
  &.news {
    .facetHeader {
      &.selected_services {
        .facetValues {
          li {
            label {
              color: #313a45;
              letter-spacing: 0.8px;
              font-size: 14px;
              font-weight: 500;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
        .morelessbtn {
          font-weight: 500;
        }
      }
      &.selected_industries {
        .facetValues {
          li {
            label {
              color: #313a45;
              letter-spacing: 0.8px;
              font-size: 14px;
              font-weight: 500;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
        .morelessbtn {
          font-weight: 500;
        }
      }
    }
  }
  &.news {
    .facetHeader {
      &.selected_services {
        .facetValues {
          li {
            label {
              color: #313a45;
              letter-spacing: 0.8px;
              font-size: 14px;
              font-weight: 500;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
      }
      &.selected_industries {
        .facetValues {
          li {
            label {
              color: #313a45;
              letter-spacing: 0.8px;
              font-size: 14px;
              font-weight: 500;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
  }
  &.insights {
    .facetHeader {
      &.selected_services {
        .facetValues {
          li {
            label {
              color: #313a45;
              letter-spacing: 0.8px;
              font-size: 14px;
              font-weight: 500;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
        .morelessbtn {
          font-weight: 500;
        }
      }
      &.selected_industries {
        .facetValues {
          li {
            label {
              color: #313a45;
              letter-spacing: 0.8px;
              font-size: 14px;
              font-weight: 500;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
        .morelessbtn {
          font-weight: 500;
        }
      }
      &.selected_resource_center_topics {
        .facetValues {
          li {
            label {
              color: #313a45;
              letter-spacing: 0.8px;
              font-size: 14px;
              font-weight: 500;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
        .morelessbtn {
          font-weight: 500;
        }
      }
      &.Page_Type {
        .facetValues {
          li {
            label {
              color: #313a45;
              letter-spacing: 0.8px;
              font-size: 14px;
              font-weight: 500;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
        .morelessbtn {
          font-weight: 500;
        }
      }
    }
  }
  &.crCenter {
    .facetHeader {
      &.selected_services {
        .facetValues {
          li {
            label {
              color: #313a45;
              letter-spacing: 0.8px;
              font-size: 14px;
              font-weight: 500;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
        .morelessbtn {
          font-weight: 500;
        }
      }
      &.selected_industries {
        .facetValues {
          li {
            label {
              color: #313a45;
              letter-spacing: 0.8px;
              font-size: 14px;
              font-weight: 500;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
        .morelessbtn {
          font-weight: 500;
        }
      }
      &.selected_resource_center_topics {
        .facetValues {
          li {
            label {
              color: #313a45;
              letter-spacing: 0.8px;
              font-size: 14px;
              font-weight: 500;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
        .morelessbtn {
          font-weight: 500;
        }
      }
      &.Page_Type {
        .facetValues {
          li {
            label {
              color: #313a45;
              letter-spacing: 0.8px;
              font-size: 14px;
              font-weight: 500;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
        .morelessbtn {
          font-weight: 500;
        }
      }
    }
  }
  &.tax {
    .facetHeader {
      &.selected_services {
        .facetValues {
          li {
            label {
              color: #313a45;
              letter-spacing: 0.8px;
              font-size: 14px;
              font-weight: 500;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
        .morelessbtn {
          font-weight: 500;
        }
      }
      &.selected_industries {
        .facetValues {
          li {
            label {
              color: #313a45;
              letter-spacing: 0.8px;
              font-size: 14px;
              font-weight: 500;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
        .morelessbtn {
          font-weight: 500;
        }
      }
      &.selected_resource_center_topics {
        .facetValues {
          li {
            label {
              color: #313a45;
              letter-spacing: 0.8px;
              font-size: 14px;
              font-weight: 500;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
        .morelessbtn {
          font-weight: 500;
        }
      }
      &.Page_Type {
        .facetValues {
          li {
            label {
              color: #313a45;
              letter-spacing: 0.8px;
              font-size: 14px;
              font-weight: 500;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
        .morelessbtn {
          font-weight: 500;
        }
      }
    }
  }
  &.gov360 {
    .facetHeader {
      &.selected_services {
        .facetValues {
          li {
            label {
              color: #313a45;
              letter-spacing: 0.8px;
              font-size: 14px;
              font-weight: 500;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
        .morelessbtn {
          font-weight: 500;
        }
      }
      &.selected_industries {
        .facetValues {
          li {
            label {
              color: #313a45;
              letter-spacing: 0.8px;
              font-size: 14px;
              font-weight: 500;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
        .morelessbtn {
          font-weight: 500;
        }
      }
      &.selected_resource_center_topics {
        .facetValues {
          li {
            label {
              color: #313a45;
              letter-spacing: 0.8px;
              font-size: 14px;
              font-weight: 500;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
        .morelessbtn {
          font-weight: 500;
        }
      }
      &.Page_Type {
        .facetValues {
          li {
            label {
              color: #313a45;
              letter-spacing: 0.8px;
              font-size: 14px;
              font-weight: 500;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
        .morelessbtn {
          font-weight: 500;
        }
      }
    }
  }
}
