.paginationOuter {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 45px auto;
  align-items: center;
  a {
    padding: 6.5px 14.5px;
    &[aria-disabled='true'] {
      display: none;
    }
  }

  .paging {
    a {
      font-size: 13px;
      font-weight: 700;
      display: inline-block;
      color: #007cbf;
      border: 2px solid #007cbf;
      margin: 5px 6px;
      &:hover {
        background-color: #007cbf;
        color: #fff;
      }
      &[data-current='true'] {
        background-color: #007cbf;
        color: #fff;
      }
      &:last-child {
        display: none;
      }
    }
    & > span {
      display: none;
    }
  }
  svg {
    width: 11px;
    height: 20px;
    color: #1d4f76;
    vertical-align: middle;
  }
}
