.searchArticlesListView {
  a {
    display: flex;
    padding: 30px;
    border-right: 1px solid rgba(162, 170, 176, 0);
    border-left: 1px solid rgba(162, 170, 176, 0);
    border-bottom: 1px solid rgba(162, 170, 176, 0.31);
    text-decoration: none;
    color: #000;
    flex-direction: column;
    &:hover {
      background: #f3f4f4;
      border-right: 1px solid rgba(162, 170, 176, 0.31);
      border-left: 1px solid rgba(162, 170, 176, 0.31);
    }
    .Title {
      margin: 0;
      font-weight: 600;
      font-size: 18px;
      text-transform: initial;
      color: #323e48;
      margin-bottom: 7.5px;
      transition: all 0.3s ease-in-out;
      letter-spacing: 0;
      text-align: left;
    }
    .publishDate {
      vertical-align: middle;
      font-size: 16px;
      font-weight: 400;
      color: #323e48;
      line-height: 24px;
    }
    .Subtitle {
      font-size: 18px;
      letter-spacing: 0.5px;
      margin-bottom: 20px;
      color: #323e48;
      text-align: left;
      letter-spacing: 0.5px;
      margin-bottom: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      &:empty {
        display: none;
      }
    }
    .Type {
      span {
        border: 1px solid #007cbf;
        padding: 2px 4px;
        color: #323e48;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.5px;
        margin-right: 3px;
        margin-bottom: 3px;
        float: left;
        line-height: normal;
        &:empty {
          display: none;
        }
      }
    }
  }
}
.filterOuter {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgba(162, 170, 176, 0.31);
  .totalItems {
    color: #323e48;
    font-size: 14px;
    .highlight {
      font-weight: 700;
    }
  }
}

.section-title {
  position: relative;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0;
  font-weight: 400;
  text-transform: none;
  margin: 30px 0;

  @media (max-width: 991px) {
    margin: 40px 0 10px;
  }
}

.section-title.text-right {
  text-align: right;
}

.section-title.text-right span {
  padding-left: 15px;
  padding-right: 0;
}

@media (max-width: 991px) {
  .section-title {
    font-size: 24px;
    line-height: 28px;
  }
}

.section-title span {
  background: #fff;
  position: relative;
  z-index: 2;
  padding: 0 15px 0 0;
}

.section-title:after {
  content: '';
  border-top: 1px solid #a2aab0;
  position: absolute;
  top: 21px;
  left: 0;
  z-index: 0;
  display: block;
  width: 100%;
  @media (max-width: 991px) {
    top: 16px;
  }
}

body.open[data-scroll-locked='1'] {
  overflow: auto !important;
  margin-right: 0px !important;
  &::-webkit-scrollbar {
    opacity: 0;
  }
  .PageSearch {
    z-index: -1;
  }
}
body.open > span[data-radix-focus-guard] + #__next .header {
  z-index: 9999;
}
