.input-group {
  display: flex;
  margin-bottom: 10px;
  position: relative;
  // flex-direction: column;
  .form-outline {
    width: 100%;
  }
  .search-section {
    display: flex;
  }
  .search-control {
    border: 1px solid #7e8c9a;
  }
  .searchControl {
    background: #fff;
    height: 48px;
    overflow: hidden;
    background: #fff;
    border-radius: 2px;
    border: thin solid #919fb1;
    text-align: left;
    padding: 12px 29px 12px 12px;
    text-indent: 0;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    height: 48px;
    border-radius: 0;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .searchBtn {
    color: #fff;
    border-left: none;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    height: 48px;
    width: 60px;
    cursor: pointer;
    line-height: 0;
    border: thin solid #919fb1;
    border-left: none;
    border-radius: 0;
    svg {
      width: 18px;
      height: 18px;
      color: #919fb1;
    }
    &:hover {
      svg {
        color: #1d4f76;
      }
    }
  }
}
.fiterSelected {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    color: #323e48;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: initial;
    .type {
      margin-right: 5px;
    }
    .singleitem {
      padding: 2px 5px;
      border: 1px solid rgba(162, 170, 176, 0.31);
      margin: 0 0 5px 5px;
      display: inline-flex;
      transition: all 0.3s ease-in-out;
      margin: 0 5px 5px 0;
      color: #000;
      font-weight: 600;
      font-size: 13px;
      letter-spacing: 0.5px;
      line-height: 1.385em;
      cursor: pointer;
      button {
        border: 0;
        background-color: transparent;
        cursor: pointer;
        margin-left: 2px;
        svg {
          width: 9px;
          height: 9px;
          transition: all 0.3s ease-in-out;
        }
      }
      &:hover {
        color: #007cbf;
        svg {
          color: #ff0000;
        }
      }
    }
  }
}

.filterOuter {
  position: relative;
  align-items: center;
  .showing {
    font-size: 14px;
    color: #323e48;
  }
  button {
    font-size: 12px;
    font-weight: 700;
    padding: 8px 5px;
    min-width: 110px;
    display: flex;
    justify-content: space-between;
    gap: 0;
    border: thin solid #919fb1;
    flex-direction: row;
    background-color: transparent;
    align-items: center;
    cursor: pointer;
    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }
  .select {
    position: relative !important;
    top: auto !important;
    bottom: auto !important;
    right: 0 !important;
    font-size: 12px;
    font-weight: 700;
    background-color: #fff;
    border: thin solid #919fb1;
    width: 110px !important;
    padding: 5px !important;
    display: block !important;
    min-height: 0 !important;
    margin: 0 !important;
    .selectItem {
      padding: 5px 0;
      font-size: 12px;
      font-weight: 700;
      cursor: pointer;
      &:focus {
        outline: 0;
        box-shadow: none;
      }
    }
  }
}

.suggesion {
  position: absolute;
  top: 48px;
  left: 0;
  width: calc(100% - 57px);
  background-color: #fff;
  z-index: 1;
  border: thin solid #919fb1;
  border-top: 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: block;
      a {
        font-size: 16px;
        font-weight: 700;
        padding: 12px;
        color: #323e48;
        display: block;
        &:hover {
          background-color: #f3f4f4;
        }
      }
    }
  }
}
.search-box-dark {
  .suggesion {
    top: 52px;
    border-top: thin solid #919fb1;
    ul {
      li {
        a {
          padding: 12px 18px;
        }
      }
    }
  }
}
