.coveoMainSection {
  display: flex;
  flex-wrap: nowrap;
  flex-basis: auto;
  .facetSection {
    width: 100%;
    max-width: 28.01019%;
    border-right: 1px solid rgba(162, 170, 176, 0.31);
    padding: 5px 30px 5px 0;
  }
  .resultSection {
    flex: auto;
    padding: 0px 10px 10px 30px;
    width: 100%;
    max-width: 100%;
  }
}
